*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #333;
    color: #fff;
    height: 100px;
    padding:20px; 
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #000000;
    padding: 20px;;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: #ffcc00;
}

.hero{
    display: grid;
    grid-template: 300px / 2fr 1fr;
    gap: 1rem;
    
}

section{
    border: 1px #ccc;
    background-color: #575050;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 100px;
}